# ======================
# Python cache
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================
.venv/
venv/
ENV/
env/

# ======================
# Jupyter Notebook
# ======================
.ipynb_checkpoints/

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Model / large files (optional)
# ======================
*.pkl
*.joblib

# ======================
# Sensitive / env files
# ======================
.env

# ======================
# FastAPI / Uvicorn cache
# ======================
*.sqlite3

# ======================
# dataset (optional if big)
# ======================
# model/data/